*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: 'Bungee', cursive;
    background: rgb(133, 200, 255);
}

h1 {
    text-shadow: 0 2px 5px rgb(0, 0, 0);
    font-family: 'Bowlby One SC', cursive;
    font-size: 4rem;
}

button, button:hover, button:active, button:focus {
    padding: 0;
    margin:0;
    outline: none;
    font: inherit;
    color: inherit;
    background: #222;
    border: 2px #888 outset;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
}

button:active {
    border: #777 inset;
}

/*#calculator {
    display: grid;
    grid-template-rows: minmax(0,1fr) minmax(0,2fr);
    grid-auto-rows: 1fr;
    height:100%;
    width:80%;
    max-width: 600px;
    background: #373737;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 1.5rem 2rem 2.5rem 2rem;
    grid-gap: 0.5rem;
    margin: 0 auto;
    border: 5px groove #ccc;
    border-radius: 15px;
    box-shadow: -10px 0 15px #222;
}*/

#calculator {
    width: 600px;
    border: 5px groove #ccc;
    border-radius: 15px;
    box-shadow: -10px 0 15px #222;
    background: #373737;
    margin: 0 auto 2rem auto;
    padding:1.5rem 1.5rem 1.5rem 1.5rem;
}

#top {
    height:50px;
    display: flex;
    margin-bottom:1rem;
    justify-content: center;
}

#logo {
    width:200px;
    font-family: 'Bungee Outline', cursive;
    font-size: 2.5rem;
    color: #fff;
    text-align: left;
}

#solarpanels {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px inset #000;
}

.solarpanel {
    height: 50px;
    width: calc(200px/3);
    background: rgb(54, 0, 0);
    border: 1px #000 solid;
}

#buttons {
    min-height:500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.5rem;
}
#buttons::after{

    content: "";
}

#display {
    background: rgb(39, 170, 39);
    color: #222;
    font-family: 'Press Start 2P', cursive;
    padding: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    word-break: break-all;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    font-size: 2rem;
    border: 4px inset;
}

#plus {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}